@model S2G7_SISAPP.Models.Professor

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Professor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Prof_First_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Prof_First_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Prof_Last_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Prof_Last_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Prof_Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Prof_Phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Prof_Desc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Prof_Desc)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Prof_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
