@model IEnumerable<S2G7_SISAPP.Models.Registration>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Cours.Course_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Student.Student_First_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StudyTerm.Term_Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Cours.Course_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Student.Student_First_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StudyTerm.Term_Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Registration_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.Registration_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Registration_ID })
        </td>
    </tr>
}

</table>
